@model WebApplication3.Models.EBOOK_COLL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>详细信息</h2>

<div>
    <h4>电子书收藏</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EBOOKTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EBOOKTYPE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("收藏", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("回到电子书列表", "Index")
</p>
